<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org/">

<head>
	<meta charset="UTF-8">
	<title>회원 리스트</title>
</head>

<body>
	<div>
		<button type="button" th:onclick="|location.href='@{/empInsert}'|">등록</button>
		<table>
			<thead>
				<tr>
					<th>employee_id</th>
					<th>last_name</th>
					<th>job_id</th>
					<th>hire_date</th>
				</tr>
			</thead>
			<tbody>
				<th:block th:each="empInfo, stat : ${empList}">
					<tr th:name="${stat.index}"
						th:onclick="|location.href='@{/empInfo(employeeId=${empInfo.employeeId})}'|">
						<td th:text="${empInfo.employeeId}" />
						<td th:text="${empInfo.lastName}" />
						<td th:text="${empInfo.jobId}" />
						<td>[[${
							#dates.format(empInfo.hireDate, 'yyyy년 MM월 dd일')}]]</td>
					</tr>
				</th:block>
			</tbody>
		</table>
	</div>
</body>

</html>